[submodule "simple-HRNet"]
	path = simple_HRNet
	url = git@github.com:Equinoxxxxx/simple-HRNet.git
[submodule "yolo_tracking"]
	path = yolo_tracking
	url = git@github.com:Equinoxxxxx/yolo_tracking.git
